<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

<div class="container">

    <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Login</a>
    </div>

    <div class="button-group" sec:authorize="isFullyAuthenticated()">

        <div>Welcome: <span sec:authentication="name">Username</span> | <a href="/logout">Logout</a> </div>

        <ul>
            <li><a href="/admin/articles">Articles (admin only)</a></li>
            <li><a href="/articles">Articles</a></li>
        </ul>
    </div>

</div>

</body>
</html>