<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
</head>

<body>
<div class="container">
    <form action="/login" th:object="${loginData}" method="POST" enctype="utf8">
        <h2 class="form-heading">Log in</h2>
        <table>
            <tr>
                <td>Email:</td>
                <td>
                    <input th:field="*{username}"/>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input th:field="*{password}" type="password"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <span class="has-error" th:text="${error}"></span>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                    <input type="submit" value="Log In"/> | <a href="/register">Create an account</a>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>